img{
  width:100%;
}

h1{
  font-size:24px;
}
.details-cast{
  width:80%;
  margin:auto;
  display:grid;
  grid-template-columns: 50% 50%;
  box-sizing:border-box;
}
.label{
  font-size:16px;
  font-weight:400;
}
.movie-cast{
  padding:16px;
  box-sizing:border-box;
}
.movie-cast > div {
  padding:16px;
  display:grid;
  grid-template-columns:30% 70%;
  background-color: #F0F0F0;
  border-bottom: 1px solid #a9a9a9;
  box-sizing:border-box;
}

.movie-desc{
  padding:16px;
}